(cors) {
	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
	header Access-Control-Allow-Headers "Content-Type, Authorization"
	header Access-Control-Allow-Credentials true
}

(security_headers) {
	header X-Content-Type-Options nosniff
	header X-Frame-Options DENY
	header Referrer-Policy no-referrer-when-downgrade
}

localhost {
	tls internal
	encode gzip zstd

	@options {
		method OPTIONS
	}
	handle @options {
		header {cors}
		respond "" 204
	}

	handle_path /api/* {
		rewrite * /api{path}
		reverse_proxy https://api.fundermaps.com {
			header_up Host {upstream_hostport}
			header_down {cors}
		}
	}

	# passthrough to frontend
	handle {
		import security_headers
		reverse_proxy http://localhost:5173
	}
}
